@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

* {
    font-family: 'Montserrat', sans-serif;
}
.fon{
    font-size: 14px;
    color: #a6a9af;
}
.htext{
    font-size: 36px;
}